################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/ExplorerBlurMica/FileContentIndex
/.vs
/ExplorerBlurMica/x64/Release
/build/x64/Release/ExplorerBlurMica.dll
/build/x64/Release/ExplorerBlurMica.exp
/build/x64/Release/ExplorerBlurMica.lib
/build/x64/Release/ExplorerBlurMica.pdb
/ExplorerBlurMica/x64/Debug
/build/x64/Debug
