<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Windows.CppWinRT" version="2.0.230706.1" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.22621.1" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK" version="1.4.231115000" targetFramework="native" />
  <package id="VC-LTL" version="5.0.9" targetFramework="native" />
  <package id="YY.NuGet.Import.Helper" version="1.0.0.4" targetFramework="native" />
</packages>